name: Semantic Release
permissions:
  contents: write
on:
  create:
  push:
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        with:
          branches: |
            [
              { name: 'master', type: 'release' },
              { name: '${{ env.GITHUB_REF_NAME }}', prerelease: '${{ env.GITHUB_REF_NAME_SLUG }}' }
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
